.footer {
  background-color: #05050f;
  color: #f0f0f3;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 120px 20px 60px 20px;
  gap: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-descricao {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-container ul li {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-copy {
  grid-column: 1/ -1;
  color: #8f8f8f;
}

.trapesio {
  width: 300px;
  height: 1px;
  border: solid 90px transparent;
  border-bottom: solid 90px black;
  border-top: none;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .trapesio{
    width: 10%;
    border: 3px solid #93541b;
    ;
  }
}
