:root {
  --color-black: #141414;
}

body {
  background-color: #f0f0f3;
  font-family: "Quattrocento", serif;
  margin: 0px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
